In [1]:
import pandas as pd

# Knapsack Algorithm

In [2]:
def knapsack_max_profit(weights, profits, C):
    n = len(weights)
    dp = [[0] * (C + 1) for _ in range(n + 1)]

    for i in range(n + 1):
        for w in range(C + 1):
            if i == 0 or w == 0:
                dp[i][w] = 0
            elif weights[i - 1] <= w:
                dp[i][w] = max(dp[i - 1][w], dp[i][w - weights[i - 1]] + profits[i - 1])
            else:
                dp[i][w] = dp[i - 1][w]
    
    return dp[i][w]

## Maximum Profits for Weights and Profits given in part 2

In [3]:
weights1 = [4, 6, 8]
profits1 = [7, 6, 9]
capacity1 = 14

result1 = knapsack_max_profit(weights1, profits1, capacity1)
print("Maximum profit for P(14) with weights [4, 6, 8] and profits [7, 6, 9]:", result1)

Maximum profit for P(14) with weights [4, 6, 8] and profits [7, 6, 9]: 21

## Maximum Profits for Weights and Profits given in part 4

In [4]:
weights2 = [5, 6, 8]
profits2 = [7, 6, 9]
capacity2 = 14

result2 = knapsack_max_profit(weights2, profits2, capacity2)
print("Maximum profit for P(14) with weights [5, 6, 8] and profits [7, 6, 9]:", result2)

Maximum profit for P(14) with weights [5, 6, 8] and profits [7, 6, 9]: 16

# Knapsack Algorithm to generate Knapsack table

In [5]:
def knapsack_max_profit_table(weights, profits, C):
    n = len(weights)
    dp = [[0] * (C + 1) for _ in range(n + 1)]

    for i in range(n + 1):
        for w in range(C + 1):
            if i == 0 or w == 0:
                dp[i][w] = 0
            elif weights[i - 1] <= w:
                dp[i][w] = max(dp[i - 1][w], dp[i][w - weights[i - 1]] + profits[i - 1])
            else:
                dp[i][w] = dp[i - 1][w]
                
    dp_table = pd.DataFrame(dp, columns=range(C + 1), index=range(n + 1))
    dp_table = dp_table.style.set_table_styles([{
        'selector': 'td',
        'props': [
            ('padding', '10px')
        ]
    }])
    
    return dp[i][w], dp_table

## Generated Knapsack table for Weights and Profits given in part 2

In [6]:
result1, table1 = knapsack_max_profit_table(weights1, profits1, capacity1)
print("Maximum profit for P(14) with weights [4, 6, 8] and profits [7, 6, 9]:", result1)
table1

Maximum profit for P(14) with weights [4, 6, 8] and profits [7, 6, 9]: 21

## Generated Knapsack table for Weights and Profits given in part 4

In [7]:
result2, table2 = knapsack_max_profit_table(weights2, profits2, capacity2)
print("Maximum profit for P(14) with weights [5, 6, 8] and profits [7, 6, 9]:", result2)
table2

Maximum profit for P(14) with weights [5, 6, 8] and profits [7, 6, 9]: 16